NODE_RED
[{"id":"c23a5f3a.a9477","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"92a6423d.2e777","type":"mqtt out","z":"c23a5f3a.a9477","name":"","topic":"/hyl/outTopic","qos":"","retain":"","broker":"2d8aa587.8a72ca","x":690,"y":260,"wires":[]},{"id":"88840f8.8d1aef","type":"function","z":"c23a5f3a.a9477","name":"","func":"msg.payload=\"{\\\"pos\\\":\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":485.99292373657227,"y":300.0729036331177,"wires":[["a598fc9a.42ab2","92a6423d.2e777"]]},{"id":"a598fc9a.42ab2","type":"debug","z":"c23a5f3a.a9477","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":340,"wires":[]},{"id":"f6e777b.0d78c88","type":"ui_button","z":"c23a5f3a.a9477","name":"","group":"9b8bb9c7.8fbce8","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"86","payloadType":"str","topic":"","x":310,"y":220,"wires":[["88840f8.8d1aef"]]},{"id":"5986e946.376df8","type":"ui_button","z":"c23a5f3a.a9477","name":"","group":"9b8bb9c7.8fbce8","order":3,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":310,"y":360,"wires":[["88840f8.8d1aef"]]},{"id":"2d8aa587.8a72ca","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfge","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b8bb9c7.8fbce8","type":"ui_group","z":"","name":"고양이 밥주기","tab":"174d3343.819b0d","order":1,"disp":true,"width":"6","collapse":false},{"id":"174d3343.819b0d","type":"ui_tab","z":"","name":"41815081 하예림","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
